{
  "presets": [
    [
      "next/babel",
      {}
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "@c": "./infrastructure/components",
          "@l": "./infrastructure/layout",
          "@const": "./constants",
          "@s": "./styles",
          "@svg": "./infrastructure/components/svg",
          "@cx": "./contexts/",
          "@redux": "./redux",
          "@utils": "./utils"
        }
      }
    ]
  ]
}